*{
  padding: 0px;
  box-sizing: border-box;
  font-family: calibri;
  margin: 0px;
 
}


.firstlink {display: flex; flex-direction: row;gap: 2rem;  justify-content: right; background-color: black;padding:1rem 2rem ;
 }
.firstlink a{text-decoration: none; color: white; }
   
.logo{max-width: 10rem; width: 100%;}
.firstsection{color:  white;   
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url('assets/bgimg.jpg');background-size: cover; background-position: right; height: 100%;
}
.firstsectionabout{color:  white;   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url('assets/bg.jpg');background-size: cover; background-position: center; height: 70vh;
}
.topandnav{display: flex; flex-direction: row;  align-items: center; justify-content:space-between;
    padding: 1rem 2rem; }
.topandnav a {margin: 1rem, 0.5rem ; text-decoration: none;color: red; transition: 1s;padding: 1rem; border-radius: 30px; font-weight: bold;}
.topnav{
    background-color: aliceblue; 
    padding: 1rem; opacity: 0.5;
}
.topandnav a:hover{background-color: rgb(83, 64, 64); cursor: pointer;
    color: aliceblue; }
    .topandnav a.active{background-color: rgb(225, 15, 15); cursor: pointer;color: aliceblue; }

.hero{ margin-top: 8rem;
    
    padding:3rem; 
    text-align: left;
}
  .hero h1{font-family: Arial, Helvetica, sans-serif; font-size: 5rem; }
  .hero button{padding: 1rem;background-color: red;font-size: 1.5rem; color: white; font-weight: bold; transition: 3s;
}
  .hero button:hover{background-color: antiquewhite; 
    cursor: pointer; 
    color:black;
}
  .heroclass{
    display:flex; 
    flex-wrap: wrap;
    margin: 1rem;gap:3rem;  
    font-size: 1.5rem;
  
}
.header{
    text-align: center;
    margin-top: 5rem;
    color:red;
}
 .heroclass span{
    font-size:3rem; color:red;
 }
.bmisection{display:flex;  
    flex-direction: column; 
    background-color: black;
    align-items: center; 
    justify-content: center;
    gap: 2rem; padding:5rem; 
}

.bmisection h2{font-family: Verdana; color: red;}
#calcbmi button{padding: 0.5rem; background-color: burlywood; font-weight: bold;width:12rem;}
#calcbmi button:hover{cursor: pointer;}
.result{display:flex; gap:0.5rem;align-items: baseline; justify-content: center;}
#calcbmi input{width:10rem; 
    padding: 0.5rem;font-weight: bold;font-size: 1.2rem;background-color: beige; }
#sex, #startdate{max-width: 10rem;width:100%; padding: 0.5rem;font-weight: bold;
    background-color: beige;
    font-size: 1.2rem;
    color:rgb(110, 107, 107)}


.inputfields{
    display: grid;
  
    grid-template-columns:repeat(4, 1fr);
    gap: 2rem;
   
}

#calcbmi{display:flex;flex-direction:
     column; gap: 2rem;
    margin-bottom: 2rem; 
    align-items: center;
    justify-content: center;
}
.section1{display:flex; flex-direction: column; align-items: center; margin-top: 4rem;
}
.workprocess{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color:red;
   
    margin-bottom: 2rem;
      
}
.workprocess::before,
.workprocess::after{
    content: "";
    width: 40px;
    height: 2px;
    background: red;
}
.goalscontainer{max-width: 60rem; width: 100%; display:flex; flex-wrap: wrap;justify-content: space-around; margin-top: 3rem; gap:2rem;}



.goalscard{display:flex;flex-direction: column; max-width: 12rem; width: 100%; gap: 2rem;}
.goalscard img{max-width: 12rem; width: 100%;max-height: 12rem; height: 100%; border-radius: 10rem;box-shadow: 0 0 25px rgb(48, 45, 45,100);}
.largeimg{display: flex;flex-direction: column; align-items: center; margin-top:10rem; }
.largeimg img{max-width: 60rem; width: 100%;}

.section2{ display:flex;flex-direction: column;align-items: center;  margin-top: 10rem;
}
.homeclasscontainer{display: flex;
    margin: 2rem; 
    justify-content: center;
}
.secion21{display: flex;flex-direction: column;
 padding:2rem;
gap: 1rem;   
}
.secion21 button{padding: 1rem;background-color: red;font-size: 1.5rem; color: white; font-weight: bold; width: 14rem; transition: 1s; box-shadow: 0 0 10px rgba(27, 26, 26, 0.5); border:none;}
.secion21 button:hover{background-color: antiquewhite; cursor: pointer; color:black;}
.section22 img{
    width: 100%; 
    max-width: 50rem;
}

.homecontact{display: flex; flex-direction: column; width: 100%; max-width: 25rem;padding: 2rem; background-color: rgb(153, 26, 21) ; font-size: 18px; gap: 1rem; color:white;}
.firstcontact{display: flex; flex-direction: column;
font-size: 16px; color:white;

}
.firstcontact input{height: 2.5rem;margin-bottom: 1rem; padding: 1rem;font-size: 1.1rem; margin-top: 0.2rem;background-color: beige;
border: none;}

.firstcontact textarea{min-width: 21rem; min-height:8rem;max-width: 21rem; max-height:8rem; margin-bottom: 1rem;
padding: 1rem; font-size: 1.1rem;margin-top: 0.2rem;
background-color: beige;border: none;}
.firstcontact button{
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    transition: 2s; 
    border:none;
}
.hamburger{
    display: none; 
    flex-direction: column; 
    gap: 0.5rem; 
    cursor: pointer;}
.hamburger div{
    width: 2rem; 
    height: 0.2rem; 
    background-color: red;
}

.hamburger.active div:nth-child(1){
    transform:rotate(45deg) translateY(12px);
}

.hamburger.active div:nth-child(2){
    opacity:0;
}

.hamburger.active div:nth-child(3){
    transform:rotate(-45deg) translateY(-12px);
}

.firstcontact button:hover{background-color: antiquewhite; cursor: pointer; color:black;}
.contactmapcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    transform: translateY(150px);
}
footer{background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('assets/darkbackground2.jpg');position: center;background-size: cover; padding: 2rem; padding-top: 15rem; display: flex;
gap: 8rem;
justify-content: center; 
 

}
.firstfooter{display: flex; 
flex-direction: column;
width: 10rem;
 color: white;}
 .firstfooter a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 1rem;
    color: white;
    transition: transform 0.3s ease;
 }
 .firstfooter a:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: brown;
 }
.firstfooter h3, .lastfooter h3{ color: red;
text-decoration: underline;
text-decoration-color: white;


}
.lastfooter{display: flex;
flex-direction: column; gap: 1rem;}
.footimg img{ width: 6rem; height: 6rem; border-radius: 20%; margin-top: 1rem;}

.footimg{display: grid;
grid-template-columns: repeat(2,1fr);
gap:2rem;
}
.footimg :hover{transform: scale(1.2); transition: 0.3s ease; cursor: pointer;}
.lastline{
    background-color: rgb(103, 14, 11);
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    color:white;
    font-weight: bold;
}

.load {
    opacity: 0;
    transform: translateX(250px);
    animation: loadUp 3.5s ease forwards;
    
}

@keyframes loadUp {
    from {
        opacity: 0;
        transform: translateX(250px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.scrolls {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 2s ease, transform 2s ease;
}

.scrolls.active {
    opacity: 1;
    transform: translateY(0);
}
.flip {
    opacity: 0;
    transform: rotateY(90deg);
    transition: opacity 3s ease, transform 3s ease;
}

.flip.active {
    opacity: 1;
    transform: rotateY(0);
}

.lastline img{max-width: 4rem; width: 100%; }
.section2about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:10rem 0;
        background-image: url(assets/darkbackgrund.jpg);

    }
.section2aboutimg{
    display: flex;
    gap:0.5rem;
    max-width: 40rem;
    width: 100%;
    height: 100%;
    max-height: 40rem;
    
}
.section2aboutimg img{
    width: 100%;
    height: 100%;
    max-width: 15rem;
    max-height: 40rem;
    object-fit: cover;
    border-radius: 1rem;
}
.section2about p{
    line-height: 1.5;
    font-size: 1.2rem;
    color: white;
    
}
.aboutcontent{
    max-width:30rem ;
    width: 100%;
    padding: 2rem;
   text-align: justify;
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.aboutcontent h1{
    color: red;
}
.map{
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.sponsorsarea h1{
   text-align: center;
   margin-top: 5rem;
   color:red;
}
.sponsorscontainer{
    background-color: rgb(103, 14, 11);
    margin: 3rem 0;
}
.sponsorscard{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;

}
.sponsorscard img{
    background-color: white;
    padding: 2rem;
    max-width: 10rem;
    width: 100%;
    height: 100%;
    height: 10rem;
        transition: 0.5s ease;

}
.sponsorscard img:hover{    transition: 0.5s ease;
        transform: scale(1.1);


}
.section1about{
    padding: 5rem;
    display:flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.section1about img{
    max-width: 30rem;
    width: 100%;
    height: 100%;
    max-height: 40rem;
    border-radius: 2rem;
        transition: 0.5s ease;

}
.section1about img:hover{
    transform: scale(1.1);
    transition: 0.5s ease;

}
.section1aboutcontent{
    display:flex;
    flex-direction: column;
    max-width: 25rem;

}
.section1aboutcontent h1{
    color: red;
    margin-bottom: 1rem;
}
.section1aboutcontent h3{
    margin-top: 3rem;
    text-decoration: underline;
}
.section1aboutcontent p{
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: justify;
}
.classection{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);

}

.classcontainer{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
padding: 5rem 2rem;  
gap: 2rem;
margin: auto;
color: white;
}
.classcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
    margin: 2rem;
    max-width: 18rem;
    width: 100%;
    max-height: 25rem;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0 0px 20px rgba(253, 253, 253, 0.9);

}
.classcard img{
    max-width: 15rem;
    width: 100%;
    height: 10rem;
    border-radius: 2rem;
        transition: 0.5s ease;

}
.classcard img:hover{
    transform: scale(1.1);
    transition: 0.5s ease;

}
.classcard button{
    padding: 0.7rem;
    border: none;
    color:white;
    background-color: rgb(124, 45, 25);
    border-radius: 1rem;
        transition:0.5s ease;

}
.classcard button:hover{
    padding: 0.7rem;
    background-color: rgb(220, 192, 192);
    cursor:pointer;
    
    color: black;
}






.contactHero{

height:55vh;

background:
linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
url("assets/darkbackgrund.jpg");

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

color:white;

}

.heroContent h1{

font-size:4rem;

margin-bottom:20px;

}

.heroContent p{

font-size:1.2rem;

max-width:650px;

}
#bmidescription{
    background-color: rgb(103, 14, 11);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.contactCards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

padding:70px 10%;

background:#fafafa;

}

.contactCard{

background:white;

padding:40px;

border-radius:15px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.contactCard:hover{

transform:translateY(-10px);

}

.contactCard h2{

font-size:45px;

margin-bottom:15px;

color:red;

}

.contactContainer{

display:grid;

grid-template-columns:1fr 1fr;

gap:60px;

padding:100px 10%;

}

.contactInfo img{

width:100%;

border-radius:20px;

margin-top:25px;

}

.contactForm{

display:flex;

flex-direction:column;

gap:25px;

}

.inputRow{

display:flex;

gap:20px;

}

.inputRow input{

flex:1;

padding:18px;

font-size:16px;

}

textarea{

height:220px;

padding:20px;

resize:none;

font-size:16px;

}

.contactForm button{

padding:18px;

background:red;

color:white;

font-size:18px;

font-weight:600;

border:none;

cursor:pointer;

transition:.3s;

}

.contactForm button:hover{

background:black;

}

.teamSection{

background:#111;

padding:100px 10%;

text-align:center;

color:white;

}

.teamCards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

margin-top:60px;

}

.teamCard{

background:#1d1d1d;

padding:30px;

border-radius:15px;

}

.teamCard img{

width:180px;

height:180px;

border-radius:50%;

object-fit:cover;

margin-bottom:20px;

}

.teamCard h3{

color:red;

}
.sexanddate{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.mapSection iframe{

width:100%;

height:500px;

border:none;

}


.reachout{
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
    right: 0;
    bottom: 10rem;
    width: 7rem;
    z-index: 1000;

    position: fixed;
    
}
.reachout img{
    width: 1rem;
    height: 1rem;
}
.reachout1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem ;
    border-radius: 4rem 0 0 4rem;
    background-color: rgb(71, 181, 71);
    color: white;
    transition: 2s;
}
.reachout1:hover{
    cursor: pointer;
    color: black;
}
 .reachout {
    font-size: 11px;
    width: 5.2rem;
   }
   .reachout a{
    text-decoration: none;
    gap: 0.2rem;
   }
#registerationform{
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    width:100%
}
#registerationform h2{
    margin-bottom: 1rem;
}
#registerationform input, #registerationform select, #loginform input{
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: black;
}
#registerationform button, #loginform button{
    width:100%;
    max-width:8rem;
    padding: 0.5rem;
    background-color: red;
    border: none;
    border-radius: 0.5rem;
    color:white;
    font-weight: bold;
    cursor: pointer;
}
.regbuttons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.clicktosignin{
    margin-top: 1rem;
    color: white;
}
.clicktosignin a{
    color: red;
    cursor: pointer;
}
.registermembership{
   flex-direction: column;
    justify-content: center;
  

   color: red;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    gap: 2rem;
    border-radius: 0.5rem;
        max-width: 60rem;
        width: 100%;
    margin: auto;
    border: none;
    padding:2rem;
 background: linear-gradient(rgb(50, 30, 30), rgba(0, 0, 0));
  
     opacity: 0;
    transform: scale(0.7) translateY(30px);
    transition:
        opacity 1s ease,
        transform 0.4s ease;
}

.registermembership[open] {
    display: flex;
    opacity: 1;
    transform: scale(1) translateY(0);
}
.registercontainer{
    display:flex;
    flex-direction: row;
    gap: 2rem;
}
.memberaside img{
    max-width: 20rem;
    width: 100%;
}
@starting-style {
    .registermembership[open] {
        opacity: 0;
        transform: scale(0.7) translateY(30px);
    }
}
.memberaside{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2rem;
    gap: 1rem;
    color:white;
    background-color: rgba(23, 22, 22, 0.5);
    box-shadow: 1px 0 10px rgba(226, 223, 223, 0.9);
    border-radius: 100%;
    text-align:center;

 animation: whatsappPulse 1.8s infinite;
}

.whatsapp-btn img {
    width: 35px;
    height: 35px;
}


@keyframes whatsappPulse {

    0% {
        box-shadow: 0 0 0 0 rgba(226, 163, 140, 0.7);
    }

    70% {
        box-shadow: 0 0 0 18px rgba(102, 104, 103, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }

}

.closemodal {
    position: absolute;
    top: 10px;
    right: 15px;

    background: none;
    border: none;
    color: white;

    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;

    width: auto;
    padding: 0;
}

.memberaside h1{
    font-size: 3rem;
    text-shadow: #1d1d1d;
}


/* WhatsApp Button Styles 


   .whatsapp-btn {
    position: fixed;
    right: 55px;
    bottom: 130px;

    width: 60px;
    height: 60px;

    border-radius: 50%;

    background-color: #25D366;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;

    animation: whatsappPulse 1.8s infinite;
}

.whatsapp-btn img {
    width: 35px;
    height: 35px;
}


@keyframes whatsappPulse {

    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
    }

    70% {
        box-shadow: 0 0 0 18px rgba(37, 211, 102, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }

}



*/


.loginsection{
    display:flex;
    padding: 5rem auto;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url('assets/gymmanagement3.png');background-size: cover; background-position: left; height: 100%;
  
.loginsectionimg{
    max-width: 20rem;
width: 100%;
}
    
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;

        width: 100%;
    margin: auto;
    border: none;
    padding:2rem;

  
   
    
}

#loginform label{
    font-size: 1.2rem;
    margin-top: 2rem;
}
#loginform{
 background: linear-gradient(rgb(50, 30, 30), rgba(0, 0, 0));
    padding:4rem;
    color:white;
    border-radius: 2rem;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    display:flex;
    flex-direction: column;
}
#loginform button{
    font-size: 1.2rem;

}

/*GYM APP STYLES*/
.memberspage{
    display: flex;
    flex-direction: row;
    
}
.appsidenav{
    padding-top:4rem;
    background-color: rgb(103, 14, 11);
    max-width: 20rem;
    width: 20%;
}
.appsidenav li{
list-style: none;
border-radius: 1rem;
margin: 0.5rem 1rem;
transition: transform 0.3s ease;

}
.appsidenav a{
color: white;
text-decoration: none;
font-weight: bold;
display: flex;
gap: 1rem;
font-size: 1rem;
cursor: pointer;
padding: 1rem;

}
.appsidenav li:hover{
   transform: translateX(12px);
background-color: rgb(157, 15, 15);
}
.memberspage img{
    max-width: 6rem;
    width: 100%;
}
.membersmain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
  
}
.filterarea{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: white;
    flex-wrap: wrap;
}
.otherside{
    width: 80%;
     background-color: rgb(241, 245, 247);
}
.membersmain a{
    padding: 0.6rem 1rem;
    background-color:rgb(157, 15, 15);
    color: white ;
    border-radius: 1rem;
    cursor: pointer;
    transition:  0.9s ease;
    border: none;

}
.filterarea button{
    padding: 0.8rem 1.5rem;
    background-color:rgb(85, 146, 208);
    color: white ;
    border-radius: 1rem;
    cursor: pointer;
    transition:  0.9s ease;
    border: none;
    font-weight: bold;

}
.membersmain a:hover{
    background-color:rgb(205, 21, 21);
    
}
.membersmain span{
    margin-right: 0.5rem;
}
.tablecontainer{
    width: 100%;
           overflow-x: auto;
  

}
.gymappfirstsection
{color:  white;   
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
  url('assets/gymappbg.jpg');background-size: cover; background-position: right; height: 100%;
}
.datatable th{
    padding: 1rem;
    background-color: aliceblue;
    text-align: left;
}
.datatable td{
    padding: 1rem;
    background-color: white;
}
#actionbuttons {
    display: flex;
    gap:2rem;
}
#actionbuttons button{
    background: rgb(125, 227, 225, 0.2);
    border-radius: 1rem;
    padding: 0.3rem;
    border: none;
    color: rgb(85, 146, 208);
    font-size: 1.5rem;
    cursor: pointer;
    width: 2.5rem;
    font-weight: bold;
}
.datatable{
  
    width: 100% ;
    
}
.filterarea input{
    padding: 0.5rem;
    max-width:25rem;
    width: 100%;
}
.filterarea select{
     padding: 0.5rem;
    max-width:8rem;
    width: 100%;
}
.filterarea select, .filterarea input{
    border-radius: 0.5rem;
    border: none;    font-size: 1rem;
        box-shadow: 0px 1px 5px rgb(148, 190, 205);

}
.appsidenav img{
    width: 1.5rem;
}
.activestatus{
   
    color: red;
    font-weight: bold;

    text-align: center;
    
}
.apptopnav{
    display: flex;
    gap: 2rem;
    align-items:center;


}
.apptopnav button{
    font-size: 2rem;
    background: none;
    border: none;
}
.apptopnav img{ width: 4rem;
    height: 5rem;
    border-radius: 100%;
}

.dashboardcard{
    width:100%;
    max-width: 17rem;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: white;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}


.dashboardcardcontainer{
    display: flex;
gap:2rem;    padding: 2rem;
}














@media (max-width: 945px) {

footer{
gap: 2rem;

 

}
    
}

@media(max-width:900px){

.contactCards{

grid-template-columns:repeat(2,1fr);

}


.contactContainer{

grid-template-columns:1fr;

}

.inputRow{

flex-direction:column;

}

.teamCards{

grid-template-columns:1fr;

}
.loginsectionimg{
    
    max-width: 20rem;
width: 100%;
}

}
@media (max-width:700px) {
    footer{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
   
   
.sponsorscard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}

.sponsorscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}
.homeclasscontainer, .classcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.secion21{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.topandnav {
    position: relative;
}
.topnav {
        display: none;
        position: absolute;
        opacity: 1;
        top: 100%;
        right: 0;
        width: 100%;
        flex-direction: column;
        background-color: black;
        padding: 2rem;
        gap: 1.5rem;
        z-index: 1001;
    }

    .topnav.show {
        display: flex;
    }

    .hamburger {
        display: flex;
    }


}
    

@media(max-width:600px){
    .hero h1{
        font-size: 3rem;

    }
    .section2aboutimg{
    
    max-width: 30rem;
    width: 100%;
    height: 100%;
    max-height: 30rem;
    
}
.registermembership, .registercontainer{
    flex-direction: column;
    gap: 0.5rem;
   
}
.memberaside img{
    display: none;
}
.memberaside h1{
    font-size: 2rem;
}
.memberaside{
   
    padding:1rem;
    gap: 0;
   
}
.inputfields{
     
    grid-template-columns:repeat(2, 1fr);
}
.section1about{
    padding: 2rem;
   
}
.inputfields{
   
    gap: 1rem;
    
}
#calcbmi input{width:6rem; padding: 0.5rem;font-size: 1rem; }
.section2aboutimg img{
    width: 100%;
    height: 100%;
    max-width: 10rem;
    max-height: 30rem;
  
}
#calcbmi button{width:10rem;}
#sex{width:6rem; padding: 0.5rem;font-size: 1rem; }
.section22 img{
    width: 100%; 
    max-width: 25rem;
}
.bmisection{text-align: center; gap: 2rem; padding:5rem 2rem; 
}
.contactCards{

grid-template-columns:1fr;

}

.heroContent h1{

font-size:2.8rem;

}
.secion21 button{font-size: 1rem; width: 10rem; padding: 0.5rem;}



.lastname{
    display:none;
    
}
.membersmain{
    gap:2rem;
}
.membersmain a{
    font-size: 1rem;
}
.appsidenav li{

margin: 0 0.2rem;
font-weight: bold;
font-size: 0.8rem;
cursor: pointer;

}
.filterarea input, .filterarea select{
        font-size: 0.8rem;

}
.datatable{
    font-size: 0.8rem;
     
    width: 100% ;
}
#actionbuttons {
    display: flex;
    gap:1rem;
}
#actionbuttons button{
    border-radius: 0.8rem;
    padding: 0.1rem;
    font-size: 1rem;
   
    width: 2rem;
    
}
}

@media (max-width: 400px) 
  {
    .secion21 button{ width: 8rem;
    }
 .section22 img{
    width: 100%; 
    max-width: 20rem;
}
.firstcontact textarea{min-width: 10rem; max-width: 20rem; }
.clicktosignin{
    font-size: 0.9rem;
}
    .appsidenav li{

margin: 0 0.1rem;
font-size: 0.7rem;

}
}   